body{
    margin: 0px;
}
#navigator {
    background-color: gainsboro;
    position: static;
    line-height: 60px;
}
#websiteTitle{
    position: relative;
    text-align: left;
    display: inline-block;
    padding-left: 15px;
}
#trigger{
    display: block;
    position: absolute;
    height: 60px;
    width: auto;
    right: 0px;
}
#menu{
    position: fixed;
    top:0px;
    right: 0px;
    height: 100vh;
    width: 210px;
    background-color: white;
    border-color: black;
    border-style: double;
    z-index: 9999;
    display: none;
}
#X{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 30px;
}
#items{
    position: absolute;
    width: 300px;
    right: 0px;
    text-align: right;
    padding-right: 15px;
    display: none;
}
#item1{
    position: inherit;
    left: 0px;
    /*有沒有比absolute+left更好的*/
}
#item2{
    position: inherit;
    left: 75px;
}
#item3{
    position: inherit;
    left: 150px;
}
#item4{
    position: inherit;
    left: 225px;
}
#menu_item1{
    position: relative;
    font-size: 30px;
}
#menu_item2{
    position: relative;
    font-size: 30px;
}
#menu_item3{
    position: relative;
    font-size: 30px;
}
#menu_item4{
    position: relative;
    font-size: 30px;
}
#welcome{
    text-align: center;
    font-size: 35px;
    height: 100px;
    line-height: 100px;
    background-color:cornflowerblue;
}
#title{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#contents{
    position: relative;
    margin: auto;
    top: 0px;
    height: 1080px;
    width: 95vw;
}
#box1{
    position: relative;
    padding-top: 10px;
    margin: auto;
    height: 250px;
    width: 90vw;
    background-color: gainsboro;
}
#box2{
    position: relative;
    /*因為是relative所以top需要累加嗎*/
    top: 10px;
    padding-top: 10px;
    margin: auto;
    height: 250px;
    width: 90vw;
    background-color: gainsboro;
}
#box3{
    position: relative;
    padding-top: 10px;
    top: 20px;
    margin: auto;
    height: 250px;
    width: 90vw;
    background-color: gainsboro;
}
#box4{
    position: relative;
    padding-top: 10px;
    top: 30px;
    margin: auto;
    height: 250px;
    width: 90vw;
    background-color: gainsboro;
}
#action{
    margin: auto;
    text-align: center;
    position: relative;
    width:100px;
    height:30px;
    line-height: 30px;
    top: 0px;
    background-color: cornflowerblue;
}
#contents2{
    position: relative;
    margin: auto;
    top: 15px;
    height: 1080px;
    width: 95vw;
}
#box5{
    position: relative;
    padding-top: 10px;
    margin: auto;
    height: 250px;
    width: 90vw;
    background-color: gainsboro;
}
#box6{
    position: relative;
    top: 10px;
    padding-top: 10px;
    margin: auto;
    height: 250px;
    width: 90vw;
    background-color: gainsboro;
}
#box7{
    position: relative;
    padding-top: 10px;
    top: 20px;
    margin: auto;
    height: 250px;
    width: 90vw;
    background-color: gainsboro;
}
#box8{
    position: relative;
    padding-top: 10px;
    top: 30px;
    margin: auto;
    height: 250px;
    width: 90vw;
    background-color: gainsboro;
}