#navigator {
    background-color: gainsboro;
    position: relative;
    top: 0px;
    padding-left: 25px;
    padding-top: 25px;
    height: 50px;
}

#items{
    position: absolute;
    top: 0px;
    right: 0px;
}
#item1{
    position: absolute;
    top:25px;
    right: 275px;
}
#item2{
    position: absolute;
    top:25px;
    right: 200px;
}
#item3{
    position: absolute;
    top:25px;
    right: 125px;
}
#item4{
    position: absolute;
    top:25px;
    right: 50px;
}


#welcome{
    text-align: center;
    margin: auto;
    padding-top: 60px;
    height: 100px;
    background-color:cornflowerblue;
}
#title{
    text-align: center;
    margin: auto;
    padding: 0px;
    height: 50px;
    padding-top: 15px;
}
#contents{
    position: relative;
    margin: auto;
    top: 0px;
    height: 380px;
    width: 100vw;
    right: 0px;
}
#box1{
    position: absolute;
    padding-top: 10px;
    top:0px;
    left: 50px;
    height: 150px;
    width: 43vw;
    background-color: gainsboro;
}
#box2{
    position: absolute;
    padding-top: 10px;
    top:0px;
    right: 50px;
    height: 150px;
    width: 43vw;
    background-color: gainsboro;
}
#box3{
    position: absolute;
    padding-top: 10px;
    top:180px;
    left: 50px;
    height: 150px;
    width: 43vw;
    background-color: gainsboro;
}
#box4{
    position: absolute;
    padding-top: 10px;
    top:180px;
    right: 50px;
    height: 150px;
    width: 43vw;
    background-color: gainsboro;
}
#action{
    text-align: center;
    position: relative;
    padding-top: 5px;
    width:100px;
    height:30px;
    margin: auto;
    top: 0px;
    /*width: inherit;*/
    background-color: cornflowerblue;
}